biopython
pandas
numpy
termcolor
PyYAML
tqdm
ipython
ascii_graph
matplotlib
ete3
prettytable
seaborn
pygraphviz
bcbio-gff
dash-bio
gspread
leidenalg
igraph
networkx
oauth2client
sqlalchemy
argcomplete
blast
datamash
famsa
foldseek
hhsuite
hmmer
mafft
mmseqs2
parallel
perl-bioperl
perl-moose
perl-ipc-system-simple
perl-config-any
perl-appconfig
perl-carp-clan
perl-file-which
perl-module-list
perl-statistics-descriptive
perl-yaml
