# Example crontab file
# Syntax:
#.---------------- minute (0 - 59)
#|  .------------- hour (0 - 23)
#|  |  .---------- day of month (1 - 31)
#|  |  |   .------- month (1 - 12) OR jan,feb,mar,apr ...
#|  |  |   |   .---- day of week (0 - 6) (Sunday=0 or 7) OR sun,mon,tue,wed,thu,fri,sat
#|  |  |   |   |  .- user name (for priviledged users only: same as crontab owner if blank)
#|  |  |   |   |  |  .- command to run + options, redirects, etc
#|  |  |   |   |  |  |
00 02  1   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases prosite enzyme
30 02  1   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases go
00 03  *   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases bioproject biosample
00 04  *   *   0     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases pdb
00 05  *   *   5     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases pfam rfam po
00 06  *   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases gene taxonomy
00 07  *   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases genomes livelists
00 08  *   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases blast cdd
00 09  *   *   *     /usr/local/genome/bin/rrsw --source /databases/src --processed /databases refseq